@model IEnumerable<Online_Library_System.Models.book>

<div id="slider">
    <div class="shell">
        <ul>
            <li>
                <div class="image">
                    <img src="~/Content/images/books.png" alt="" />
                </div>
                <div class="details">
                    <h2>Bestsellers</h2>
                    <h3>Special Offers</h3>
                    <p class="title">made for Euhack!</p>
                    <p class="description">This project means to simplify book-lovers life; readers can access library database online, 
                      see which books are available,
                     choose what to read and order them online! </p>
                    <a href="#" class="read-more-btn" style="opacity:0.5;">Read More</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/images/books.png" alt="" />
                </div>
                <div class="details">
                    <h2>Bestsellers</h2>
                    <h3>Special Offers</h3>
                    <p class="title">made for Euhack!</p>
                    <p class="description">
                        This project means to simplify book-lovers life; readers can access library database online,
                        see which books are available,
                        choose what to read and order them online!
                    </p>
                    <a href="#" class="read-more-btn" style="opacity:0.5;">Read More</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/images/books.png" alt="" />
                </div>
                <div class="details">
                    <h2>Bestsellers</h2>
                    <h3>Special Offers</h3>
                    <p class="title">made for Euhack!</p>
                    <p class="description">
                        This project means to simplify book-lovers life; readers can access library database online,
                        see which books are available,
                        choose what to read and order them online!
                    </p>
                    <a href="#" class="read-more-btn" style="opacity:0.5;">Read More</a>
                </div>
            </li>
            <li>
                <div class="image">
                    <img src="~/Content/images/books.png" alt="" />
                </div>
                <div class="details">
                    <h2>Bestsellers</h2>
                    <h3>Special Offers</h3>
                    <p class="title">made for Euhack!</p>
                    <p class="description">
                        This project means to simplify book-lovers life; readers can access library database online,
                        see which books are available,
                        choose what to read and order them online!
                    </p>
                    <a href="#" class="read-more-btn" style="opacity:0.5;">Read More</a>
                </div>
            </li>
</ul>
        <div class="nav">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
    </div>
</div>
<!-- End Slider -->
    <!-- Main -->
    <div id="main" class="shell">
        <!-- Sidebar -->
        <div id="sidebar">
            <ul class="categories">
                <li>
                    <h4>Categories</h4>
                    <form method="post">
                        <ul>
                            @foreach (var item in Model.Select(x => x.genre).Distinct().Take(8))
                            {
                                <li><a name="@Html.DisplayFor(modelItem => item)">@Html.DisplayFor(modelItem => item)</a></li>
                            }
                        </ul>
                    </form>
                </li>   
                
                <li>
                    <h4>Authors</h4>
                    <ul>
                        @foreach (var item in Model.Select(x => x.Author).OrderBy(x => Guid.NewGuid()).Take(12)) //randomad agenerirebs avtorebs
                        {
                            <li><a>@Html.DisplayFor(modelItem => item)</a></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->
        <!-- Content -->
        <div id="content">
            <!-- Products -->
            <div class="products">
               <h3>Featured Products</h3>
                <ul>
                    @foreach (var item in Model.OrderBy(x => Guid.NewGuid()).Distinct().Take(8))
                    {
                        <li>
                            <div class="product">
                                <a class="info">
                                    <span class="holder">
                                        @{
                                            string a = "data:image/png;base64," + Convert.ToBase64String(item.picture);
                                            <img src=@a alt="" />
                                        }
                                        <span class="book-name">@item.Name</span>
                                        <span class="author">by @item.Author</span>
                                        <span class="description">@item.description</span>
                                    </span>
                                </a>
                                <a class="buy-btn"><text style="padding-left:4px;">Order</text> <span class="price"><span class="low">$</span>@item.Price<span class="high">00</span></span></a>
                            </div>
                        </li>
  }
                </ul>
                <!-- End Products -->
            </div>
            <div class="cl">&nbsp;</div>
            <!-- Best-sellers -->
            <div id="best-sellers">
                <h3>Most Popular</h3>
                <ul>
                    @foreach (var item in Model.OrderByDescending(e => e.takes).Take(10))
                    {
                    <li>
                        <div class="product">
                            <a href="#">
                                @{
                                    string a = "data:image/png;base64," + Convert.ToBase64String(item.picture);
                                    <img src=@a alt="" />
                                }
                                <span class="book-name">@item.Name </span>
                                <span class="author">by @item.Author</span>
                                <span class="price"><span class="low">$</span>@item.Price<span class="high">00</span></span>
                            </a>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <div class="cl">&nbsp;</div>
        <br /><br />
        <h3 class="page-header" style="padding-top:15px; text-align:center; border-top: solid 4px #eaeaea;">&copy; 2016 - a page by <a href="https://www.freecodecamp.com/beqa-bumbeishvili" target="_blank">beqa</a></h3>
    </div>
  